*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 100vh;
    background: url("assets/bgg.jpeg");

}
.container{
    height: 350px;
    width: 350px;
    background: #4ed4c6;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px gray;
    transition: 3s all;
}
.container div{
    height: 50%;
    width: 200px;
    clip-path: polygon(100% 0,50% 100%, 0 0);
    transform: translateX(-50%);
    transform-origin: bottom;
    position: absolute;
    left: 21%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: monospace;
    font-weight: 1000;
    color:#008276;
    writing-mode: vertical-rl;
}
.container .one{
    background: #58595b;
    left: 50%;
}
.container .two{
    background: #d1cdc2;
    transform: rotate(40deg);
}
.container .three{
    background: #58595b;
    transform: rotate(80deg);
}
.container .four{
    background: #d1cdc2;
    transform: rotate(120deg);
}
.container .five{
    background: #58595b;
    transform: rotate(160deg);
}
.container .six{
    background: #d1cdc2;
    transform: rotate(200deg);
}
.container .seven{
    background: #58595b;
    transform: rotate(240deg);
}
.container .eight{
    background:#d1cdc2;
    transform: rotate(280deg);
}
.container .nine{
    background: #000;
    transform: rotate(320deg);
}
.mid{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    background: #008276;
}
#spin{
    max-width: 10%;
    height: auto;
    background: url("assets/logo.png");
    position: absolute;
    margin-top: 600px;
    cursor: pointer;
}
#spin:hover{
    box-shadow: none;
}
.stoper{
    height: 50px;
    width: 40px;
    background: #ffd600;
    position: absolute;
    clip-path: polygon(100% 0,50% 100%, 0 0);
    margin-top: -350px;
}

